{% set branch = RegExp('(?:branch: )(.*)', 'gi') %}
{% filter table(['ID', 'TRACKER', 'STATUS', 'PRIORITY', 'BRANCH', 'SUBJECT']) -%}
{% for issue in issues -%}
{{issue.id}}|{{issue.tracker.name}}|{{issue.status.name.substring(0,7)}}|{{issue.priority.name}}|{% set b = branch.exec(issue.description) %}{%- if b %}{{b[1]}}{% endif -%}|{{issue.subject}}
{% endfor -%}
{% endfilter -%}
